DEBUG=False
SECRET_KEY=your-secret-key
DATABASE_NAME=postgres
DATABASE_USER=your-user
DATABASE_PASSWORD=your-password
DATABASE_HOST=your-host
DATABASE_PORT=5432
ALLOWED_HOSTS=yourdomain.com,localhost
